<!-- {% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %} -->
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.profilePicture.url|default_if_none:'default.png'  }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.profile.firstName }} {{ user.profile.lastName}}</h2>
          <p class="text-secondary">{{ user.profile.major1}} major at {{ user.profile.currentInstitute }} living in {{user.profile.basedCity}}, {{user.profile.basedCountry}} from {{user.profile.homeCity}},  {{user.profile.homeCountry}}</p>
        </div>
      </div>
      <div class="border-top pt-3">
        <small class="text-muted">
          <p>Want to update your profile?</p><a href="{% url 'changeprofile' %}">Update</a>
        </small>
      </div>
    </div>
    <div>
      <h4>Stats</h4>
      <p> You've contributed {{posts_number}} Posts and given advice {{advice_number}} times. You have contributed to the success of {{upvotes_count}} peer mentors</p>
      
    </div>
      <p>Your Communities: </p>
    {% for comm in user.profile.communities.all %}
        <span> <a href = " {% url 'community' comm.id %}"> {{ comm.community_name }} </a></span>
        {% endfor %}
    </div>
    <div class="border-top pt-3">
        <h5>Your Posts</h5>
    </div>
    {% for post in posts %}
      <article class="media content-section">
        <div class="media-left">
        <img src="{{ post.author.profile.profilePicture.url }}" class="rounded-circle" style="width:80px">
        </div>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ post.author.profile.firstName}}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h5><a class="article-title" href="{% url 'postview' post.id %}">{{ post.title }}</a></h5>
          <p class="article-content">{{ post.content }}</p>
          <small><a class="ml-2" href="{% url 'postview' post.id %}">Advise/See Thread</a></small>
          </div>
        {% for comm in post.communities.all %}
        <span> <a href = " {% url 'community' comm.id %}"> {{ comm.community_name }} </a></span>
         </div>
        {% endfor %}
      </article>
    {% endfor %}
{% endblock content %}