{% extends "forum/base.html" %}
{% block content %}
    <div class="border-top pt-3">
        <h1 > Find your Communities</h1>
    </div>
    <form method="GET" action=".">
     <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="community_search" placeholder="Communities..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>    
    {% for community in results %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'community' community.id %}">{{ community.community_name}}</a>
          </div>
        </div>
      </article>
    {% endfor %}
  </form>
{% endblock content %}
